* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #dfe6f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background: #fff;
    width: 450px;
    padding: 40px 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.icon {
    width: 50px;
    height: 50px;
    background: #dce8ff;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #2f5cff;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000;
}

.subtitle {
    color: #666;
    font-size: 15px;
    margin-bottom: 30px;
}

.form-group {
    text-align: left;
    margin-bottom: 18px;
}

label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #000;
}

input {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #f1f1f1;
    font-size: 14px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 14px;
    background: #020326;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    opacity: 0.95;
}

.signup {
    margin-top: 18px;
    font-size: 14px;
    color: #444;
}

.signup a {
    color: #2f5cff;
    text-decoration: none;
}

.back {
    margin-top: 18px;
    font-size: 14px;
}

.back a {
    text-decoration: none;
    color: #333;
}